[submodule "themes/github-style"]
	path = themes/github-style
	url = git@github.com:MeiK2333/github-style.git
[submodule "themes/hugo-admonitions"]
	path = themes/hugo-admonitions
	url = git@github.com:KKKZOZ/hugo-admonitions.git
